<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nwinfo.exhibition.mapper.ArticleCategoryMapper">
    <select id="findBySearchStr" resultType="cn.nwinfo.exhibition.entity.ArticleCategory" parameterType="String">
      SELECT * FROM articleCategory
      where name like "%"#{searchStr}"%"
    </select>
    <select id="findById" resultType="cn.nwinfo.exhibition.entity.ArticleCategory">
        SELECT * FROM articleCategory
      where
      id=#{id}
    </select>
    <select id="findByAll" resultType="cn.nwinfo.exhibition.entity.ArticleCategory">
        SELECT * FROM articleCategory
    </select>
    <select id="selectPage" resultType="cn.nwinfo.exhibition.entity.ArticleCategory">
        SELECT * FROM articleCategory
    </select>
    <insert id="add" parameterType="cn.nwinfo.exhibition.entity.ArticleCategory">
        <selectKey resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into articleCategory (name)
        values (#{name})
    </insert>
    <update id="updateById" parameterType="cn.nwinfo.exhibition.entity.ArticleCategory">
        update articleCategory
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}

    </update>
    <delete id="deleteById" parameterType="cn.nwinfo.exhibition.entity.ArticleCategory">
        delete FROM articleCategory
      where
      id=#{id}
    </delete>
</mapper>